.ui_button {
  width: auto;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 12px;
  box-sizing: border-box;

  background: #0085FF;
  border-radius: 8px;

  font-family: Arial, 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: #FFFFFF;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background: #51acff;
  }

  &__transparent {
    background: transparent !important;
    color: #047AE7;
  }

  &__black {
    background: #2A2E39;
  }

  &__disabled {
    color: #0085FF;
    background: #E9F4FF;
  }

  @media (min-width: 320px) and (max-width: 700px) {
    &__told {
      height: 55px;
    }
  }
}

