@import "/src/scss/mixins";

.mobile-register {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding-top: 16px;

  &__partner {
    width: 100%;
    height: 325px;

    background-image: url("./assets/60bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 32px;

    &-title {
      position: absolute;
      left: 50%;
      top: 20%;

      width: 75%;

      display: flex;
      align-items: center;
      justify-content: center;

      transform: translate(-50%, 0);

      text-align: center;

      p {
        @include p1-medium;
      }

      span {
        color: #0085FF;
      }
    }
  }

  &__points {
    width: 100%;
    height: 648px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .point {
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      background-repeat: no-repeat;
      background-size: cover;

      border-radius: 16px;

      p {
        width: 70%;
        text-align: center;
        @include p5-regular;
        color: #E8EAED;

        opacity: 0.8;
      }
    }
  }

  &__form {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 24px;
    box-sizing: border-box;

    background: #1C1F2C;
    border-radius: 16px;
  }
}

.register {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 16px;

  &-body {
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16px;

    &-left {
      position: relative;

      width: 50%;
      height: 100%;

      background-image: url("./assets/60bg.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      border-radius: 32px;

      &__title {
        position: absolute;
        left: 50%;
        top: 20%;

        width: 75%;

        display: flex;
        align-items: center;
        justify-content: center;

        transform: translate(-50%, 0);

        p {
          @include h1-bold;
          font-weight: 400;
          font-size: 64px;
          line-height: 110%;
        }

        span {
          color: #0085FF;
        }
      }
    }

    &-right {
      width: 50%;
      height: 100%;

      padding: 30px 48px;
      box-sizing: border-box;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      gap: 8px;

      background: #1C1F2C;
      border-radius: 32px;

      &__first, &__second, &__third {
        width: 100%;
        height: 55px;

        display: flex;
        align-items: center;
        justify-content: center;

        gap: 8px;
      }

      &__checkbox {
        width: 100%;
        display: flex;

        padding-top: 18px;

        padding-bottom: 18px;
      }
    }
  }

  &-footer {
    width: 100%;
    height: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;

    &__point {
      width: 25%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      background-repeat: no-repeat;
      background-size: cover;

      border-radius: 16px;

      p {
        width: 70%;
        text-align: center;
        @include p5-regular;
        color: #E8EAED;

        opacity: 0.8;
      }
    }
  }
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 65%;
  height: 50%;

  display: flex;
  justify-content: flex-end;

  padding: 8px;
  box-sizing: border-box;

  background: #1B1D25;
  border-radius: 16px;

  z-index: 15;

  &__logo {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 70%;
      height: auto;

      aspect-ratio: 69/19;
    }
  }

  &__closeBtn {
    position: absolute;
    top: -20px;
    right: -20px;

    z-index: 20;
  }

  &__container {
    position: relative;
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;

    padding: 16px;
    box-sizing: border-box;

    background: #242731;
    border-radius: 16px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    p {
      @include p2-bold;
      color: #DBDDE0;
      padding-bottom: 16px;
    }
  }

  &__restore {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    p {
      @include p6-regular;
      color: #DBDDE0;
      padding-top: 8px;
    }
  }

  &__btn {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    padding: 16px;
    box-sizing: border-box;
  }
}

@media (min-width: 320px) and (max-width: 700px) {
  .register {
    width: calc(100% - 16px);
    height: 545px;
    box-sizing: border-box;

    top: 16px;
    transform: translate(-50%, 0%);

    padding: 0 16px;

    flex-direction: column;

    &__closeBtn{
      position: absolute;

      top: 100%;
      right: 50%;

      transform: translate(50%, 0%);

      z-index: 20;
    }

    &__container {
      width: 100%;
      height: 80%;

      padding: 16px;
    }

    &__filters {
      .filter {
        height: 48px;
      }
    }
  }

  .oneClick {
    &__buttons {
      flex-direction: column;
    }
  }

  .login{
    width: 90%;
    height: 511px;
    box-sizing: border-box;
    align-items: center;

    top: 10%;
    transform: translate(-50%, 0%);

    flex-direction: column;

    &__logo{
      height: 20%;
    }

    &__container {
      width: 100%;
      height: 80%;

      padding: 16px;
    }

    &__closeBtn{
      position: absolute;

      top: 100%;
      right: 50%;

      transform: translate(50%, 0%);

      z-index: 20;
    }
  }
}