@import "/src/scss/mixins";

.referral {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;


  &__title {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      @include p2-bold;
    }

    padding-bottom: 24px;
  }

  &__container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-header {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      padding-bottom: 16px;
      border-bottom: 1px solid rgba(238, 238, 238, .1);

      text-align: center;


      p {
        width: 10%;
        @include p7-regular;
        color: #FFFFFF;

        opacity: 0.5;
      }
    }
  }

  &__item {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 16px;
    border-bottom: 1px solid rgba(238, 238, 238, .1);

    text-align: center;

    p{
      width: 10%;
      @include p7-regular;
      color: #FFFFFF;
      padding-top: 16px;
    }
  }

  &-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 8px;

    padding: 24px;
    box-sizing: border-box;

    background: #1B1D25;
    border-radius: 16px;

    z-index: 15;

    &__closeBtn {
      position: absolute;
      top: -20px;
      right: -20px;

      z-index: 20;
    }
  }
}

@media (min-width: 320px) and (max-width: 700px) {
  .referral {
    width: 100%;

    padding-top: 36px;

    min-height: 86vh;


    &__container {
      overflow: scroll;
    }
  }
}