@import '/src/scss/mixins';

.referral {
  width: 100%;

  th,
  tr,
  td {
    color: #ffffff;
  }

  &__title {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      @include p2-bold;
    }

    padding-bottom: 24px;
  }

  &__container {
    overflow-x: auto;
  }
}
